container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python supplyrunners/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "supplyrunners.settings"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
