container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "supplyrunners.settings"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "public/"
