{% extends "base.html" %} 

{% block outercontent %}{% endblock %}

{% block homecontent %}

<!-- Header -->
{% include "shared/header.html" %}

<!-- Page Content -->
<div class="container">
  <div class="row py-2">
    <div class="col-md-12 text-center">
      <h3>How it Works</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="h-100 text-center">
        <div>
          <div class="grad card-icon">
            <ion-icon name="desktop-outline"></ion-icon>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Register</h4>
          <p class="card-text">
            Register with your Google account. You can register 
            as an at-risk population member seeking assistance, or
            as an individual willing to volunteer to assist local
            at-risk individuals.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="text-center h-100">
        <div>
          <div class="grad card-icon">
            <ion-icon name="flag-outline"></ion-icon>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Choose Locations</h4>
          <p class="card-text">
            Select up to 5 local stores that you frequent in your
            neighborhood where you buy food and other essential supplies.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="text-center h-100">
        <div>
          <div class="grad card-icon">
            <ion-icon name="people-outline"></ion-icon>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Connect</h4>
          <p class="card-text">
            We'll give you the option to connect with other registered users, 
            who are in close geographic proximity to you, and who also frequent
            the same stores as you.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}
