{% extends "base.html" %}

{% block content %}
    <h1>Locations</h1>
    <div class="grid-x grid-padding-x grid-margin-y">
        <div class="cell large-6 medium-6">
            <div id="map" style="width: 400px; height: 400px;"></div>
        </div>
        <div class="cell large-6 medium-6">
            <form action="/locations/search" id="search">
                <div class="input-group">
                    <label for="query" class="input-group-label">Search</label>
                    <input class="input-group-field" type="search" name="query" id="query" placeholder="enter search text">
                    <div class="input-group-button">
                        <input type="submit" class="button" value="Go">
                    </div>
                </div>
            </form>
            <div id="results"></div>
        </div>
    </div>
    
    {% block bottomscripts %}
        <script src="/static/js/locations.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap" async defer></script>
    {% endblock %}

{% endblock %}