* {
    font-family: 'Baloo 2', cursive;
}

body {
    color: #333;
}

a.btn, button.btn {
    border-radius: 50px;
    padding: .5rem 2rem;
    transition-duration: 0.2s;
    transition-property: transform;
}

a.btn:hover, button.btn:hover {
    transform: translate(0px, -3px);
}

.site-content {
    margin-top: 75px;
}

.qna .question {
    font-weight: bold;
    font-size: 20px;
}

.qna .answer {
    font-style: italic;
}

header .container {
    padding-top: 75px;
}

header .resources {
    background-color: white;
    opacity: 0.75;
}

header .homebox {
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
}

header .welcome a.inline {
    color: yellow;
    font-weight:bold;
}

header a.register-now {
    background-color: #00BA94;
    color: white;
    margin-left: 20px;
}

header a.register-now:hover {
    background-color: #00BA94;
}

.grad {
    background: linear-gradient(135deg, #0061f2, #6900c7);
}

.card-icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 64px;
    color: white;
    font-size: 30px;
    margin: 0 auto;
}

.nav-item img {
    height: 30px;
}