{% extends "base.html" %}

{% block content %}
    <h1>About</h1>

    <p>
        This site was created with a singular mission: to facilitate connecting at-risk 
        members of the population, who must remain at home, with other residents in close 
        geographic proximity to them who are willing to purchase food or other essential
        supplies for them.
    </p>

    <p>
        You can register as either an at-risk population member seeking assistance,
        or as a volunteer willing to acquire and deliver food and supplies to a local
        individual requiring assistance.
    </p>

    <p>
        In order to connect you with other local residents, we ask that you choose up to 
        5 local stores that you frequently shop at. We give you the option to connect with 
        others who you can assist, or who can assist you.
    </p>

    <p>
        The following is some more information in a question / answer format:
    </p>

    <div class="qna">
        <p class="question">
            Do you store or expose my home address or current location?
        </p>
        <p class="answer">
            No. The website may ask for your current location or grab your IP address,
            but we do not store this information, nor do we expose it to others.
        </p>
    </div>

    <dl>
        <dt></dt>
        <dd>
             
        </dd>
    </dl>
{% endblock %}