{% extends "base.html" %}

{% block extra_title %} | Feedback{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Feedback</h1>

            <p>
                This site is very much in beta. I'd like to hear feedback about any issues you encounter
                or suggestions you have about how to make it better.
            </p>

            <p>
                I'm Jim. Email me here: <a target="_top" href="mailto:shop@jimmcgaw.com?Subject=Shop%20for%20Sheltered%20Feedback">shop@jimmcgaw.com</a>
            </p>

        </div>
    </div>
{% endblock %}