{% extends "base.html" %}

{% block content %}
    <h1>Resources</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Grocery Shopping Safely</h2>
            <p>
                An excellent video about how to minimize your exposure when
                purchasing groceries.
            </p>
            <iframe width="450" height="253" src="https://www.youtube.com/embed/sjDuwc9KBps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h2>Links</h2>
            <ul>
                <li>
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/specific-groups/high-risk-complications.html" target="_blank">Are You at Higher Risk for Severe Illness?</a>
                  </li>
                  <li>
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html" target="_blank">What To Do if You Are Sick</a>
                  </li>
                  <li>
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/prepare/prevention.html" target="_blank">How to Protect Yourself</a>
                  </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Donate</h2>
            <p>
                If you can spare it, the following organizations could really use your support
                right now.
            </p>
            <div>
                <ul>
                    <li>
                        <a href="https://ams.mealsonwheelsamerica.org/eweb/DynamicPage.aspx?WebCode=covid19donate" target="_blank">
                            Meals on Wheels America
                        </a>
                    </li>
                    <li>
                        <a href="https://www.redcrossblood.org/give.html/find-drive-advanced" target="_blank">
                            American Red Cross
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}