<header class="grad mb-5">

    <div class="container">
      <div class="row">
        <div class="homebox welcome text-white col-md-8 mb-5">
          <h2>Connecting At-Risk Individuals with Local Residents</h2>
          <hr />
          <p>
            This website was created in response to the shelter-in-place order 
            issued in the United States to combat the spread of the coronavirus and COVID-19.
          </p>
          <p>
            The mission? Connect at-risk members of the population with local residents
            who frequent the same shops and stores, so residents can purchase food for them.
          </p>
          <p>
            <a class="inline" href="https://www.cdc.gov/coronavirus/2019-ncov/specific-groups/high-risk-complications.html" target="_blank">Who's at risk?</a>
          </p>
          <p>
            You can register as either:
            <ol>
              <li>an at-risk member of the population seeking assistance, OR</li>
              <li>a volunteer willing to pick up food and supplies for a nearby at-risk resident.</li>
            </ol>
          </p>
          <div class="row">
            <div class="col-lg-12">
              <a class="btn btn-lg btn-light" href="{% url 'about' %}">Learn More</a>
              <a class="btn btn-lg register-now" href="{% url 'user:login' %}">Register Now &raquo;</a>
            </div>
          </div>
        </div>
  
        <div class="homebox resources col-md-4 mb-5">
          <h2>Resource Links</h2>
          <hr />
          <ul>
            <li>
              <a href="https://www.cdc.gov/coronavirus/2019-ncov/specific-groups/high-risk-complications.html" target="_blank">Are You at Higher Risk for Severe Illness?</a>
            </li>
            <li>
              <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html" target="_blank">What To Do if You Are Sick</a>
            </li>
            <li>
              <a href="https://www.cdc.gov/coronavirus/2019-ncov/prepare/prevention.html" target="_blank">How to Protect Yourself</a>
            </li>
            <li>
              <a href="https://www.mealsonwheelsamerica.org/" target="_blank">Meals on Wheels America</a>
            </li>
          </ul>
          
        </div>
      </div>
      <!-- /.row -->
    </div>
  </header>